

<div class="container">
  <div class="nav-buttons">
    <span (click)="router.navigate(['battle-arena'])" >
      <img src="assets/img/nav-btn/battle.png">
      <div class="nav-name">Battle</div>
    </span>
    <span (click)="router.navigate(['user-info'])">
      <img src="assets/img/nav-btn/characteristics.png">
      <div class="nav-name">Attributes</div>
    </span>
    <span (click)="router.navigate(['inventar'])">
      <img src="assets/img/nav-btn/inventar.png">
      <div class="nav-name">Inventory</div>
    </span>
    <span (click)="router.navigate(['skills'])">
      <img src="assets/img/nav-btn/skills.png">
      <div class="nav-name">Skills</div>
    </span>
    <span (click)="router.navigate(['boss'])">
      <img src="assets/img/nav-btn/boss.png">
      <div class="nav-name">Boss</div>
    </span>
    <span (click)="router.navigate(['shop'])">
      <img src="assets/img/nav-btn/shop.png">
      <div class="nav-name">Shop</div>
    </span>
    <span (click)="router.navigate(['quests'])">
      <img src="assets/img/nav-btn/quests.png">
      <div class="nav-name">Quest</div>
    </span>
    <span (click)="router.navigate(['settings'])">
      <img src="assets/img/nav-btn/people.png">
      <div class="nav-name">Friends</div>
    </span>
  </div>
</div>
