.container {
  background: #303241;
}
.cart {
  border: 1px solid #333;
  border-radius: 20px;
  background: #303241;
  box-shadow:  45px 45px 90px #1b1d25,
  -45px -45px 90px #45485d;
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100vw - 80px);
  padding: 10px;
}
h2, p {
  text-align: center;
  color: #fff;
}

.blue-btn {
  border-radius: 20px;
  background: linear-gradient(145deg, #315da4, #294e8a);
  box-shadow:  3px 3px 7px #1c345c,
  -3px -3px 7px #407ad6;
  padding: 6px 15px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
