<div class="container">
  <div class="users-info" *ngIf="firstUser && secondUser">
    <div class="user-1">
      <div class="user-avatar">
        <div class="user-img">
          <img src="./../../../assets/img/free-avatar.png">
        </div>
        <div class="user-level">{{firstUser.level}}</div>
      </div>
      <div class="user-point">
        <div class="user-name">{{firstUser.name}}</div>
        <div class="user-hp"><span class="progress-hp"></span><span>{{firstUser.hp}}</span></div>
        <div class="user-mp"><span class="progress-mp"></span><span>{{firstUser.mp}}</span></div>
      </div>
    </div>
    <div class="timer"><span>59</span> s</div>
    <div class="user-2">
      <div class="user-point">
        <div class="user-name">{{secondUser.name}}</div>
        <div class="user-hp"><span class="progress-hp"></span><span>{{secondUser.hp}}</span></div>
        <div class="user-mp"><span class="progress-mp"></span><span>{{secondUser.mp}}</span></div>
      </div>
      <div class="user-avatar">
        <div class="user-img">
          <img src="./../../../assets/img/free-avatar.png">
        </div>
        <div class="user-level">{{secondUser.level}}</div>
      </div>
    </div>
  </div>
  <div class="battle-panel">
    <div class="attack-panel">
      <div class="attack-to-lable">Attack to</div>
      <div class="atk-selection">Head</div>
      <div class="atk-selection">Body</div>
      <div class="atk-selection">Groin</div>
      <div class="atk-selection">Legs</div>
      <div class="atk-selection">Arms</div>
    </div>
    <div class="defence-panel">
      <div class="attack-to-lable">Block to</div>
      <div class="def-selection">Head and Body<span *ngIf="eQshield"> and Groin</span></div>
      <div class="def-selection">Body and Groin<span *ngIf="eQshield"> and Legs</span></div>
      <div class="def-selection">Groin and Legs<span *ngIf="eQshield"> and Arms</span></div>
      <div class="def-selection">Legs and Arms<span *ngIf="eQshield"> and Head</span></div>
      <div class="def-selection">Arms and Head<span *ngIf="eQshield"> and Body</span></div>
    </div>
  </div>
</div>
