.container {
  background: #1b1c22;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.users-info {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 15px;
}
.timer {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.user-1, .user-2 {
  display: flex;
  width: 50%;
  min-width: 50%;
  max-width: 50%;
}
.user-2 {
  justify-content: flex-end;
}
.user-1 > div.user-point, .user-2 > div.user-point {
  width: calc(100% - 50px);
}
.user-name {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
.user-1.user-name {
  text-align: left;
}
.user-2 .user-name {
  text-align: right;
}
.user-avatar {
  position: relative;
  z-index: 2;
}
.user-level {
  background: #333;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 300;
  border: 1px solid darkgoldenrod;
  position: absolute;
  right: 11px;
  bottom: -5px;
}
.user-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid darkgoldenrod;
}

.user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user-hp {
  /*background: linear-gradient(to left, rgb(231 34 93) 0%, rgb(230 14 25) 100%);*/
  background: #1b1c22;
  color: #ffffff;
  font-size: 13px;
  width: 110px;
  height: 20px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D09C60;
  box-shadow: 0 0 10px -5px #000;
  transform: matrix(1, 0, -1, 1, 0, 0);
  position: relative;
  left: -10px;
  z-index: 1;
  font-weight: 300;
  overflow: hidden;
}
.user-mp {
  /*background: linear-gradient(to left, rgb(34, 126, 231) 0%, rgb(14, 57, 230) 100%);*/
  background: #1b1c22;
  color: #fff;
  font-size: 12px;
  width: 95px;
  height: 20px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D09C60;
  box-shadow: 0 0 8px #000;
  transform: matrix(1, 0, -1, 1, 0, 0);
  position: relative;
  left: -14px;
  font-weight: 300;
  overflow: hidden;
}
.user-2 .user-hp,
.user-2 .user-mp {
  transform: matrix(1, 0, 1, 1, 0, 0);
}
.user-2 .user-hp {left: auto; right: -22px;}
.user-2 .user-mp {left: auto;right: -42px;}
.user-1 .user-hp span,
.user-1 .user-mp span{
  transform: skew(45deg);
}
.user-2 .user-hp span,
.user-2 .user-mp span {
  transform: skew(-45deg);
}
.user-1 .user-hp span.progress-hp {background: linear-gradient(to right, rgb(231 34 93) 0%, rgb(230 14 25) 100%);left: 0;}
.user-2 .user-hp span.progress-hp {background: linear-gradient(to left, rgb(231 34 93) 0%, rgb(230 14 25) 100%);right: 0;}
.user-1 .user-mp span.progress-mp {background: linear-gradient(to right, rgb(34, 126, 231) 0%, rgb(14, 57, 230) 100%);left: 0;}
.user-2 .user-mp span.progress-mp {background: linear-gradient(to left, rgb(34, 126, 231) 0%, rgb(14, 57, 230) 100%);right: 0;}

.user-hp span.progress-hp {
  width: calc(100% + 9px);
  position: absolute;
  height: 100%;
  top: 0;
}
.user-mp span.progress-mp {
  width: calc(100% + 9px);
  position: absolute;
  height: 100%;
  top: 0;
}
