<div class="container">
  <div class="users-info" *ngIf="firstUser && secondUser">
    <div class="user-1">
      <div class="user-avatar">
        <div class="user-img">
          <img src="./../../../assets/img/free-avatar.png">
        </div>
        <div class="user-level">{{firstUser.level}}</div>
      </div>
      <div class="user-point">
        <div class="user-name">{{firstUser.name}}</div>
        <div class="user-hp"><span class="progress-hp"></span><span>{{firstUser.hp}}</span></div>
        <div class="user-mp"><span class="progress-mp"></span><span>{{firstUser.mp}}</span></div>
      </div>
    </div>
    <div class="timer"></div>
    <div class="user-2">
      <div class="user-point">
        <div class="user-name">{{secondUser.name}}</div>
        <div class="user-hp"><span class="progress-hp"></span><span>{{secondUser.hp}}</span></div>
        <div class="user-mp"><span class="progress-mp"></span><span>{{secondUser.mp}}</span></div>
      </div>
      <div class="user-avatar">
        <div class="user-img">
          <img src="./../../../assets/img/free-avatar.png">
        </div>
        <div class="user-level">{{secondUser.level}}</div>
      </div>
    </div>
  </div>
</div>
