
<div class="container shop">
  <div class="header-nav">
    <span class="back-btn" (click)="back()"><i class="fa-solid fa-chevron-left"></i></span>
    <h3>{{title}}</h3>
    <div class="user-kar">{{user.kar}} kar</div>
  </div>
  <div class="shop-items-blok">
    <div class="shop-items-nav">
      <span (click)="sortType('weapon')">Weapons</span>
      <span (click)="sortType('armor')">Armor</span>
      <span (click)="sortType('boots')">boots</span>
      <span (click)="sortType('pants')">pants</span>
      <span (click)="sortType('gloves')">gloves</span>
      <span (click)="sortType('helm')">helm</span>
      <span (click)="sortType('shield')">shield</span>
      <span (click)="sortType('ring')">ring</span>
      <span (click)="sortType('earrings')">earrings</span>
      <span (click)="sortType('necklaces')">necklaces</span>
      <span (click)="sortType('')">all</span>
    </div>
    <div class="shop-items-content">
      <div *ngFor="let item of filterData" class="shop-item">
        <div class="item-img">
          <div class="{{(item.name.replaceAll(' ','_')).toLowerCase()}}"></div>
<!--          <span class="{{item.klas}}">{{item.klas}}</span>-->
        </div>
        <div class="item-text">
          <div class="s-item-name">{{item.name}}</div>
          <div class="item-base" *ngIf="item?.atk"><span>Attack: </span><span> {{item.atk}}</span></div>
          <div class="item-base" *ngIf="item?.def"><span>Defence: </span><span> {{item.def}}</span></div>
          <div class="item-opt">
            <ng-container *ngIf="item.bonus_agi">
              <div>Evasion: {{item.bonus_agi}}%</div>
              <div>Accuracy: {{item.bonus_agi}}%</div>
            </ng-container>
            <ng-container *ngIf="item.bonus_ene">
              <div>Elemental damage: {{item.bonus_ene - 2}}%</div>
              <div>Defuff chance: {{item.bonus_ene - 2}}%</div>
            </ng-container>
            <ng-container *ngIf="item.bonus_str">
              <div>Extra damage: {{item.bonus_str}}%</div>
            </ng-container>
            <ng-container *ngIf="item.bonus_vit">
              <div>Hit points: {{item.bonus_vit}}%</div>
              <div>Resist damage: {{item.bonus_vit - 2}}%</div>
            </ng-container>
            <ng-container *ngIf="item.bonus_men">
              <div>Debuff resistant: {{item.bonus_men -2}}%</div>
              <div>Mana point: {{item.bonus_men}}%</div>
            </ng-container>
            <ng-container *ngIf="item.bonus_int">
              <div>Critical chance: {{item.bonus_int}}%</div>
              <div>Critical resist: {{item.bonus_int}}%</div>
            </ng-container>
            <ng-container *ngIf="item.bonus_res">
              <div>Accuracy: {{item.bonus_res}}%</div>
              <div>Critical resist: {{item.bonus_res}}%</div>
              <div>Debuff resistant: {{item.bonus_res}}%</div>
            </ng-container>
            <ng-container *ngIf="item.bonus_atk">
              <div>Damage: {{item.bonus_atk * 5}}</div>
              <div>Hit point: {{item.bonus_atk * 5}}</div>
            </ng-container>
            <ng-container *ngIf="item.bonus_def">
              <div>Defence: {{item.bonus_def * 5}}</div>
              <div>Hit point: {{item.bonus_def * 5}}</div>
            </ng-container>
            <ng-container *ngIf="item.bonus_mag">
              <div>Magic damage: {{item.bonus_mag * 5}}</div>
              <div>Hit point: {{item.bonus_mag * 5}}</div>
              <div>Mana point: {{item.bonus_mag * 5}}</div>
            </ng-container>
            <ng-container *ngIf="item.bonus_bos">
              <div>All stats: {{item.bonus_bos * 3}}</div>
            </ng-container>
            <ng-container *ngIf="item.bonus_boss">
              <div>All stats: {{item.bonus_boss * 5}}</div>
            </ng-container>
            <ng-container *ngIf="item.bonus_bosss">
              <div>All stats: {{item.bonus_bosss * 7}}</div>
            </ng-container>
            <ng-container *ngIf="item.bonus_bossss">
              <div>All stats: {{item.bonus_bossss * 9}}</div>
            </ng-container>
          </div>
          <div class="other-opt" *ngIf="item.reff">Reflect: {{item.reff}}</div>
          <div class="other-opt" *ngIf="item.hp">HP: {{item.hp}}</div>
          <div class="other-opt" *ngIf="item.mp">MP: {{item.mp}}</div>
          <div class="other-opt" *ngIf="item.str">STR: {{item.str}}</div>
          <div class="other-opt" *ngIf="item.agi">AGI: {{item.agi}}</div>
          <div class="other-opt" *ngIf="item.int">INT: {{item.int}}</div>
          <div class="other-opt" *ngIf="item.ene">ENE: {{item.ene}}</div>
          <div class="other-opt" *ngIf="item.men">MEN: {{item.men}}</div>
          <div class="other-opt" *ngIf="item.vit">VIT: {{item.vit}}</div>
          <div class="other-opt" *ngIf="item.damage_resistant">Damage resist: {{item.damage_resistant}}</div>
          <div class="other-opt" *ngIf="item.debuff_change">Debuff chance: {{item.debuff_change}}</div>
          <div class="other-opt" *ngIf="item.debuff_resistant">Debuff resist: {{item.debuff_resistant}}</div>
          <div class="other-opt" *ngIf="item.attack">Attack: {{item.attack}}</div>
          <div class="other-opt" *ngIf="item.evasion">Evasion: {{item.evasion}}</div>
          <div class="other-opt" *ngIf="item.accuracy">Accuracy: {{item.accuracy}}</div>
          <div class="other-opt" *ngIf="item.extra_damage">Extra damage: {{item.extra_damage}}</div>
          <div class="other-opt" *ngIf="item.extra_defence">Extra defence: {{item.extra_defence}}</div>
          <div class="other-opt" *ngIf="item.critical_chance">Critical chance: {{item.critical_chance}}</div>
          <div class="other-opt" *ngIf="item.critical_damage">Critical damage: {{item.critical_damage}}</div>
          <div class="other-opt" *ngIf="item.critical_resistant">Critical resist: {{item.critical_resistant}}</div>
        </div>
        <div class="item-price">
          <button (click)="buyItem(item)" class="circle-btn"><i class="fa-solid fa-sack-dollar"></i></button>
          <div>
            <span>{{item.price}}</span>
            <span>kar</span>
          </div>
        </div>
        <div class="spinner" *ngIf="item.spinner">
          <span><i class="fa-solid fa-spinner"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="popUp" class="pop-up">
    <div class="pop-up-body">
      <span class="close-popup" (click)="closePopUp()"><i class="fa-solid fa-xmark"></i></span>
      <p>{{errorMess}}</p>
    </div>
  </div>

</div>
