/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body { height: 100%; }
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.spinner-global {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
}
.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle,
.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #fff !important;
}

.header-nav {
  width: calc(100% - 20px);
  background: #35363f;
  padding: 4px 10px;
  display: flex;
  height: 44px;
  border-radius: 20px;
  margin: 0px auto;
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, .5);
  transform: translateY(10px);
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 5;
}
.header-nav h3 {
  display: inline-flex;
  width: calc(100% - 30px);
  font-weight: 100;
  color: gold;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-right: 30px;
}
.back-btn {
  width: 30px;
  height: 30px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  background: #0000004a;
  margin-top: 2px;
  font-size: 12px;
}

.nav-name {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background: #333;
  font-size: 13px;
  width: max-content;
  font-weight: 100;
  padding: 2px 5px;
  border-radius: 10px;
  border: 1px solid #ca8a13;
  letter-spacing: .5px;
}

/*--- buttons ---*/
.cancel-btn {
  background: linear-gradient(180deg, rgba(189, 45, 57, 1) 0%, rgb(173 53 59) 47%, rgba(189, 45, 57, 1) 100%);
  min-width: 90px;
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 10px;
  color: #fff;
  letter-spacing: .5px;
  font-weight: 300;
  font-size: 18px;
  font-family: 'Roboto';
}
.save-btn {
  background: linear-gradient(180deg, rgb(73 162 43) 0%, rgb(60 139 42) 47%, rgb(59 146 35) 100%);
  min-width: 90px;
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 10px;
  color: #fff;
  letter-spacing: .5px;
  font-weight: 300;
  font-size: 18px;
  font-family: 'Roboto';
}



/* --- Items --- */
.item-img {
  width: 62px;
  height: 62px;
  min-width: 62px;
  min-height: 62px;
  position: relative;
  display: flex;
  margin: auto;
}
.item-lvl {
  position: absolute;
  border-radius: 100%;
  width: 26px;
  height: 26px;
  background: #2b2b2f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c2c2c2;
  font-size: 12px;
  bottom: -5px;
  right: -5px;
  border: 1px solid #a6881e;
  z-index: 1;
}
/* --- Boots --- */
.boots_of_speed {
  background-image: url('./assets/img/items/boots.jpg');
  width: 100%;
  height: 100%;
  background-position: 581px 419px;
  background-size: 670px;
  border: 1px solid #78b31d;
}
.energy_boots {
  background-image: url(./assets/img/items/boots.jpg);
  width: 100%;
  height: 100%;
  background-position: 521px 253px;
  background-size: 670px;
  border: 1px solid #a61db3;
}
.boots_of_strength {
  background-image: url('./assets/img/items/boots.jpg');
  width: 100%;
  height: 100%;
  background-position: 581px 253px;
  background-size: 670px;
  border: 1px solid #93b31d;
}
.boots_of_life {
  background-image: url('./assets/img/items/boots.jpg');
  width: 100%;
  height: 100%;
  background-position: 519px 171px;
  background-size: 670px;
  border: 1px solid #b31d30;
}
.critical_boots {
  background-image: url('./assets/img/items/boots.jpg');
  width: 100%;
  height: 100%;
  background-position: 87px 336px;
  background-size: 670px;
  border: 1px solid #b07510;
}
.boots_of_meditation {
  background-image: url(./assets/img/items/boots.jpg);
  width: 100%;
  height: 100%;
  background-position: 210px 253px;
  background-size: 670px;
  border: 1px solid #3535b1;
}
.boots_of_resist {
  background-image: url(./assets/img/items/boots.jpg);
  width: 100%;
  height: 100%;
  background-position: 87px 171px;
  background-size: 670px;
  border: 1px solid #2a615a;
}
/*-- Helm - items --*/
.helm_of_speed {
  background-image: url('./assets/img/items/helm.jpg');
  width: 100%;
  height: 100%;
  background-position: 85px 88px;
  background-size: 670px;
  border: 1px solid #78b31d;
}
.warrior\'s_helm {
  background-image: url('./assets/img/items/helm.jpg');
  width: 100%;
  height: 100%;
  background-position: 85px 420px;
  background-size: 670px;
  border: 1px solid #93b31d;
}
.fortitude_helm {
  background-image: url('./assets/img/items/helm.jpg');
  width: 100%;
  height: 100%;
  background-position: 458px 252px;
  background-size: 670px;
  border: 1px solid #b31d30;
}
.keen_helm {
  background-image: url('./assets/img/items/helm.jpg');
  width: 100%;
  height: 100%;
  background-position: 211px 338px;
  background-size: 670px;
  border: 1px solid #b07510;
}
.storm_hood {
  background-image: url('./assets/img/items/helm.jpg');
  width: 100%;
  height: 100%;
  background-position: 209px 170px;
  background-size: 670px;
  border: 1px solid #a61db3;
}
.mindful_hood {
  background-image: url('./assets/img/items/helm.jpg');
  width: 100%;
  height: 100%;
  background-position: 333px 170px;
  background-size: 670px;
  border: 1px solid #3535b1;
}
.bulwark_helm {
  background-image: url('./assets/img/items/helm.jpg');
  width: 100%;
  height: 100%;
  background-position: 335px 338px;
  background-size: 670px;
  border: 1px solid #2a615a;
}


/*-- Gloves - items --*/
.gloves_of_speed {
  background-image: url('./assets/img/items/gloves.jpg');
  width: 100%;
  height: 100%;
  background-position: 457px 416px;
  background-size: 670px;
  border: 1px solid #78b31d;
}
.mighty_gauntlets {
  background-image: url('./assets/img/items/gloves.jpg');
  width: 100%;
  height: 100%;
  background-position: 210px 416px;
  background-size: 670px;
  border: 1px solid #93b31d;
}
.enduring_mitts {
  background-image: url('./assets/img/items/gloves.jpg');
  width: 100%;
  height: 100%;
  background-position: 334px 416px;
  background-size: 670px;
  border: 1px solid #b31d30;
}
.seer\'s_touch {
  background-image: url('./assets/img/items/gloves.jpg');
  width: 100%;
  height: 100%;
  background-position: 271px 416px;
  background-size: 670px;
  border: 1px solid #a61db3;
}
.tranquil_gloves {
  background-image: url('./assets/img/items/gloves.jpg');
  width: 100%;
  height: 100%;
  background-position: 644px 332px;
  background-size: 670px;
  border: 1px solid #3535b1;
}
.keen_gloves {
  background-image: url('./assets/img/items/gloves.jpg');
  width: 100%;
  height: 100%;
  background-position: 210px 249px;
  background-size: 670px;
  border: 1px solid #b07510;
}
.guardian_gloves {
  background-image: url('./assets/img/items/gloves.jpg');
  width: 100%;
  height: 100%;
  background-position: 272px 332px;
  background-size: 670px;
  border: 1px solid #2a615a;
}


/* --- armor - items --- */

.warlord\'s_armor {
  background-image: url('./assets/img/items/armor.jpg');
  width: 100%;
  height: 100%;
  background-position: 397px 416px;
  background-size: 670px;
  border: 1px solid #93b31d;
}
.silent_stalker_armor {
  background-image: url('./assets/img/items/armor.jpg');
  width: 100%;
  height: 100%;
  background-position: 151px 417px;
  background-size: 670px;
  border: 1px solid #78b31d;
}
.shadowstrike_armor {
  background-image: url('./assets/img/items/armor.jpg');
  width: 100%;
  height: 100%;
  background-position: 89px 417px;
  background-size: 670px;
  border: 1px solid #b07510;
}
.lifeguard_plate {
  background-image: url('./assets/img/items/armor.jpg');
  width: 100%;
  height: 100%;
  background-position: 459px 416px;
  background-size: 670px;
  border: 1px solid #b31d30;
}
.harmony_vestment {
  background-image: url('./assets/img/items/armor.jpg');
  width: 100%;
  height: 100%;
  background-position: 274px 87px;
  background-size: 670px;
  border: 1px solid #3535b1;
}
.ironclad_breastplate {
  background-image: url('./assets/img/items/armor.jpg');
  width: 100%;
  height: 100%;
  background-position: 459px 252px;
  background-size: 670px;
  border: 1px solid #2a615a;
}
.mindweave_suit {
  background-image: url('./assets/img/items/armor.jpg');
  width: 100%;
  height: 100%;
  background-position: 212px 87px;
  background-size: 670px;
  border: 1px solid #a61db3;
}

/* -- pants - Items -- */

.mighty_legplates {
  background-image: url('./assets/img/items/pants.jpg');
  width: 100%;
  height: 100%;
  background-position: 213px 418px;
  background-size: 670px;
  border: 1px solid #93b31d;
}
.swiftfoot_pants {
  background-image: url('./assets/img/items/pants.jpg');
  width: 100%;
  height: 100%;
  background-position: 398px 418px;
  background-size: 670px;
  border: 1px solid #78b31d;
}
.keenstrike_pants {
  background-image: url('./assets/img/items/pants.jpg');
  width: 100%;
  height: 100%;
  background-position: 213px 335px;
  background-size: 670px;
  border: 1px solid #b07510;
}
.lifeforce_pants {
  background-image: url('./assets/img/items/pants.jpg');
  width: 100%;
  height: 100%;
  background-position: 89px 418px;
  background-size: 670px;
  border: 1px solid #b31d30;
}
.meditator\'s_trousers {
  background-image: url('./assets/img/items/pants.jpg');
  width: 100%;
  height: 100%;
  background-position: 89px 88px;
  background-size: 670px;
  border: 1px solid #3535b1;
}
.colossus_legguards {
  background-image: url('./assets/img/items/pants.jpg');
  width: 100%;
  height: 100%;
  background-position: 89px 335px;
  background-size: 670px;
  border: 1px solid #2a615a;
}
.storm_leggings {
  background-image: url('./assets/img/items/pants.jpg');
  width: 100%;
  height: 100%;
  background-position: 521px 88px;
  background-size: 670px;
  border: 1px solid #a61db3;
}

/* --- Rings - items ---*/
.ring_of_power {
  background-image: url('./assets/img/items/Jewelry.jpg');
  width: 100%;
  height: 100%;
  background-position: 581px 334px;
  background-size: 670px;
  border: 1px solid #555;
}
.guardian\'s_ring {
  background-image: url('./assets/img/items/Jewelry.jpg');
  width: 100%;
  height: 100%;
  background-position: 642px 334px;
  background-size: 670px;
  border: 1px solid #2a615a;
}
.ring_of_fire {
  background-image: url('./assets/img/items/Jewelry.jpg');
  width: 100%;
  height: 100%;
  background-position: 642px 415px;
  background-size: 670px;
  border: 1px solid #b07510;
}
.endurance_ring {
  background-image: url('./assets/img/items/Jewelry.jpg');
  width: 100%;
  height: 100%;
  background-position: 457px 415px;
  background-size: 670px;
  border: 1px solid #b31d30;
}




